@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  scroll-behavior: smooth;
}

:root {
  --neutral-400: #b7b4c7;
  --customBlue: #09162e;
}
body {
  color: var(--neutral-400);
  background-color: var(--customBlue);
  font-family: Thicccboi, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.667em;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateZ(-200px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}